extends layout

block content
  h1 Welcome to the Rocket Coder Backend 🚀
  br
  br
  h2 Activities routes
  h3 GET /activities   --- List all activities
  h3 GET /activities/{id}   --- List one activity by {id}
  h3 GET /activities/match/{word}   --- List activity/ies that contain {word}
  br
  h2 GoogleThis routes
  h3 POST /googlethis   --- retrieve google results based on the content of the request

