extends layout

block content
  h1 Rocket Coder Backend
  p Welcome to the Rocket Coder Backend
  h2 GET /activities   --- List all activities
  h2 GET /activities/{id}   --- List one activity by id

